

/* Spinner */
button.spinner::after {
  content: '';
  margin-left: 8px;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: inline-block;
  animation: spin 0.75s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Modal Styling */
.modal-content {
  background: #fff;
  border-radius: 12px;
  padding: 24px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  max-width: 960px;
  margin: auto;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #eee;
  padding-bottom: 12px;
}

.modal-title {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}

.modal-body {
  padding-top: 16px;
  max-height: 70vh;
  overflow-y: auto;
}

.modal-body::-webkit-scrollbar {
  width: 6px;
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

/* Overlay fix */
::ng-deep .cdk-overlay-container {
  z-index: 9999 !important;
}
::ng-deep .mat-mdc-select-panel {
  background-color: #f8f9fa !important;
  color: #000 !important; /* Đảm bảo text không bị mờ nếu nền sáng */
}

