<!-- vertical layouts -->
<ng-scrollbar style="height: calc(100vh - 70px)" exclude="'#mobile-collapse1'" visibility="hover">
  <div class="navbar-content">
    <ul class="nav pcoded-inner-navbar" (clickOutside)="fireOutClick()">
      <li *ngFor="let item of navigations" >
        <app-nav-group *ngIf="item?.type === 'group'" [item]="item"></app-nav-group>
      </li>
    </ul>
    <div class="version">
      <label for="version" disabled class="pe-auto">v{{ currentApplicationVersion }}</label>
    </div>
  </div>
</ng-scrollbar>
