<app-card class="inventory-table-responsive" [cardTitle]="'Lý do tăng giảm tài sản' | translate">
  <mat-card-title class="mb-3">Danh sách lý do tăng giảm tài sản</mat-card-title>
  <div class="row mb-3 align-items-center">
    <app-search-input
    class="col-8"
      [placeholder]="'Tìm kiếm theo tên lý do '"
      (input)="onSearch($event)"></app-search-input>
       <div class="col-4  text-end">
    <button mat-flat-button color="primary" (click)="create()" *ngIf="service.Visible">
      Thêm mới
    </button>
    </div>
  </div>

  <table table-sm mat-table table-sm [dataSource]="service.items$ | async" class="mat-elevation-z2 w-100" matSort>

    <!-- STT -->
    <ng-container matColumnDef="stt">
      <th mat-header-cell class="text-nowrap" *matHeaderCellDef>#</th>
      <td mat-cell class="text-break" *matCellDef="let item; let i = index">{{ i + 1 }}</td>
    </ng-container>

    <!-- Mã tăng giảm -->
    <ng-container matColumnDef="maTangGiam">
      <th mat-header-cell class="text-nowrap" *matHeaderCellDef mat-sort-header>Mã</th>
      <td mat-cell class="text-break" *matCellDef="let item">{{ item.MaTangGiam }}</td>
    </ng-container>

    <!-- Tên nhóm -->
    <ng-container matColumnDef="tenTangGiam">
      <th mat-header-cell class="text-nowrap" *matHeaderCellDef mat-sort-header>Tên tẳng giảm</th>
      <td mat-cell class="text-break" *matCellDef="let item">{{ item.TenTangGiam }}</td>
    </ng-container>

    <!-- Loại tăng giảm -->
    <ng-container matColumnDef="loaiTangGiam">
      <th mat-header-cell class="text-nowrap" *matHeaderCellDef mat-sort-header >Loại</th>
      <td mat-cell class="text-break" *matCellDef="let item">
        <mat-chip [color]="item.LoaiTangGiam === 1 ? 'primary' : 'warn'" selected>
          {{ item.LoaiTangGiam === 1 ? 'Tăng tài sản' : 'Giảm tài sản' }}
        </mat-chip>
      </td>
    </ng-container>

    <!-- Thao tác -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell class="text-nowrap" *matHeaderCellDef>Thao tác</th>
      <td mat-cell class="text-break" *matCellDef="let item">
        <button mat-icon-button color="primary" (click)="edit(item)" *ngIf="service.Visible" matTooltip="Chỉnh sửa"><mat-icon class="small-icon">edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="delete(item)" *ngIf="service.Visible" matTooltip="Xóa"><mat-icon class="small-icon">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row-hover"></tr>
  </table>
  <!-- Paginator -->
    <app-paginator
      [paginator]="paginator"
      [isLoading]="isLoading"
      (paginate)="paginate($event)">
    </app-paginator>
</app-card >